# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.pyc
*.pyo

# ==========================================
# ENVIRONNEMENTS VIRTUELS
# ==========================================
venv/
env/

# ==========================================
# VARIABLES D'ENVIRONNEMENT
# ==========================================
.env
*.env

# ==========================================
# BASES DE DONNÉES LOCALES
# ==========================================
*.sqlite3

# ==========================================
# FICHIERS STATIQUES DJANGO
# ==========================================
staticfiles/

# ==========================================
# VISUAL STUDIO CODE
# ==========================================
.vscode/

# ==========================================
# LOGS & SÉCURITÉ (SPRINT 1)
# ==========================================
*.log
errors.log

# ==========================================
# MÉDIAS SENSIBLES (SPRINT 1)
# ==========================================
media/
/media/factures/
/media/preuves_paiement/

# ==========================================
# OUTILS DE QUALITÉ (SPRINT 2)
# ==========================================
.ruff_cache/

# ==========================================
# DONNÉES GÉNÉRÉES PAR LES EXERCICES
# ==========================================
inscriptions.json
inscriptions.csv
*/classe.json
*/formation.json