# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.pyc
*.pyo

# ==========================================
# ENVIRONNEMENTS VIRTUELS
# ==========================================

venv/
env/

# ==========================================
# VARIABLES D'ENVIRONNEMENT
# ==========================================

.env
*.env

# ==========================================
# BASES DE DONNÉES LOCALES
# ==========================================

*.sqlite3

# ==========================================
# FICHIERS STATIQUES DJANGO
# ==========================================

staticfiles/

# ==========================================
# VISUAL STUDIO CODE
# ==========================================

.vscode/

# ==========================================
# DONNÉES GÉNÉRÉES PAR LES EXERCICES
# ==========================================

inscriptions.json
inscriptions.csv

*/classe.json
*/formation.json